*{ margin: 0; padding: 0; box-sizing: border-box; }

html{
    scroll-behavior: smooth;
}

.link{
    text-decoration: none;
    color: white;
}

.float{
  float: left;
}

.green{
  color: #44db2d;
}

.green-text-shadow{
  animation: greenglow 2s infinite ease-in-out;
}

body{
    background-color: #fff;
    color: white;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

// Mixin's -----------------------------------------------------------
$breakpoints: (
    "phone":        400px,
    "phablet":      560px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px,
    "4K-2560":      2560px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}


// --Fonts------------------------------------------------

// font-family: 'Bowlby One SC', cursive;
// font-family: 'Concert One', cursive;
// font-family: 'Carter One', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Kalam', cursive;
// font-family: 'Squada One', cursive;
// font-family: 'Patrick Hand', cursive;
// font-family: 'Neucha', cursive;


// --Header-----------------------------------------------
header{
    height: 80px;
    width: 100%;
    background-color: #273c75;
    box-shadow: black 0px 0px 5px;
    // overflow: hidden;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;

    @include mq('4K-2560'){
      height: 120px;
      box-shadow: black 0px 0px 10px;
    }
}

#logo{
  height: 100%;
  width: 300px;
  padding-left: 10px;
  float: left;
  text-align: left;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Bowlby One SC', cursive;
  overflow: hidden;

  @include mq('tablet-wide'){
    width: 750px;
    padding-left: 20px;
    font-size: 30px;
  }

  @include mq('4K-2560'){
    width: 900px;
    padding-left: 40px;
    font-size: 50px;
  }
}

.floatlogo{
    float: left;
    transform: translate(5px,-50px);

    @include mq('tablet-wide'){
      transform: translate(5px,-90px);
    }
    @include mq('4K-2560'){
      transform: translate(15px,-160px);
    }
}

#nav{
    height: 100%;
    float: right;
    margin-right: 10px;
    justify-content: space-around;
    display: none;

    @include mq('tablet-wide') {
      display: flex;
    }

    @include mq('4K-2560'){
      margin-right: 40px;
    }
}

.navbutton{
    width: 80px;
    height: 80px;
    float: left;
    padding-top: 13px;
    margin-right: 3px;
    text-align: center;
    font-size: 50px;
    background-color: #273c75;
    transition: 0.3s;
    position: relative;
    z-index: 1;

    &:hover{
        background-color: #fff;
        background-color: #203366;
        font-size: 45px;

        @include mq('4K-2560'){
          font-size: 75px;
        }
    }

    @include mq('4K-2560'){
      width: 120px;
      height: 120px;
      font-size: 80px;
    }
}

.nameBar{
  width: 80px;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #203366d3;
  font-family: 'Concert One', cursive;
  font-size: 18px;
  transition: 0.3s;
  transform: translateY(-100px);
  position: relative;
  z-index: -1;

  @include mq('4K-2560'){
    width: 120px;
    padding: 8px;
    font-size: 24px;
  }
}

#about:hover~.nameBarAbout{
  transform: translateY(0px);
}

#login:hover~.nameBarLogin{
  transform: translateY(0px);
}

#user:hover~.nameBarLogin{
  transform: translateY(0px);
}

#map:hover~.nameBarLogin{
  transform: translateY(0px);
}

#logout:hover~.nameBarLogin{
  transform: translateY(0px);
}

#nav-map:hover~.nameBarLogin{
  transform: translateY(0px);
}

.move{
    transition: 0.4s;
    display: block;
    animation: logomove-tablet-wide 5s infinite ease-in-out;

    @include mq('tablet-wide'){
      animation: logomove 5s infinite ease-in-out;
    }

    @include mq('4K-2560'){
      animation: logomove-4K 5s infinite ease-in-out;
    }
}


// --Main----------------------------------------------

main{

  #welcome{
    height: 100vh;
    padding: 100px 30px;
    color: #487eb0;

    @include mq('desktop'){
      height: 200vh;
    }

    @include mq('desktop-wide'){
      height: 200vh;
    }
      
    @include mq('tablet-wide'){
      padding: 100px;
    }

    @include mq('4K-2560'){
      height: 100vh;
    }

    #hello{
      margin: 50px 0px;
      width: 290px;
      height: 300px;
      font-size: 20px;
      background-color: #fff;
      // font-family: 'Carter One', cursive;
      // font-family: 'Indie Flower', cursive;
      font-family: 'Kalam', cursive;
      // font-family: 'Patrick Hand', cursive;
      position: static;
      z-index: 100;
      float: left;

      @include mq('tablet'){
        font-size: 35px;
        width: 520px;
      }

      @include mq('tablet-wide') {
        margin: 40px 0px;
        font-size: 40px;
      }

      @include mq('4K-2560'){
        margin: 140px 0px;
        font-size: 60px;
        width: 800px;
      }
    }

    .text-puls{
      animation: text-puls-tablet-wide 2s infinite ease-in-out;
      
      @include mq('tablet'){
        animation: text-puls 2s infinite ease-in-out;
      }

      @include mq('4K-2560'){
        animation: text-puls-4K 2s infinite ease-in-out;
      }
    }

    #right{
      float: right;
      display: none;
      @include mq('tablet-wide') {
        display: flex;
      }

      .treeOne{
        font-size: 300px;
        position: absolute;
        bottom: 0; right: 0;
        z-index: 1;

        @include mq('4K-2560'){
          font-size: 400px;
        }
      }
      .treeTwo{
        font-size: 200px;
        position: absolute;
        bottom: 0; right: 150px;
        color: #3e709e;
        z-index: 0;

        @include mq('4K-2560'){
          font-size: 300px;
          right: 200px;
        }
      }
    }
  }

  // --- About --- //

  #aboutConteiner{
    background-color: #487eb0;
    display: flex;
    text-align: center;
    height: 150vh;

    @include mq('tablet-wide') {
      width: 100vw;
      height: 100vh;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 10px 100px 60px 100px;
    }

    @include mq('desktop'){
      padding: 0px 100px 60px 100px;
    }

    h1{
      font-family: 'Kalam', cursive;
      margin: 20px 0px 30px 10px;
      color: #80afdb;
      // color: greenyellow;
      cursor: default;

      @include mq('tablet-wide'){
        margin: 20px;
      }

      @include mq('4K-2560'){
        font-size: 60px;
        margin: 60px;
      }
    }
    
    #square-conteiner{
      height: 240px;
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      margin-bottom: 100px;

      @include mq('tablet-wide'){
        flex-wrap: nowrap;
        margin-bottom: 0px;
      }
      @include mq('4K-2560'){
        height: 300px;
      }
    }

    .square{
      width: 100%;
      margin: 0px 0px;
      font-size: 25px;
      padding: 5px;
      color: #80afdb;
      // color: greenyellow;
      border: #80afdb solid 0px;
      // text-shadow: black -1px 1px 1px;
      // font-family: 'Indie Flower', cursive;
      // font-family: 'Kalam', cursive;
      // font-family: 'Squada One', cursive;
      // font-family: 'Patrick Hand', cursive;
      font-family: 'Neucha', cursive;
      transition: 0.3s;

      &:hover{
        border: #80afdb solid 5px;
        color: #adceeb;
        // text-shadow: greenyellow -10px 6px 2px;
      }

      @include mq('tablet-wide'){
        width: 50%;
        margin: 10px 10px;
        font-size: 35px;
        padding: 20px;
      }

      @include mq('4K-2560'){
        font-size: 55px;
        padding: 10px;
      }
    }
  }

  

  // --- login --- //

  #login-signUp{
    height: 600px;
    width: 100%;
    padding: 0px 10px;
    transition: transform 0.5s, opacity 1s;    

    @include mq('tablet-wide'){
      display: flex;
      padding: 0px 100px;
    }
  }

  #login-box{
    width: 300px;
    height: 500px;
    margin: 90px auto;
    padding: 10px;
    position: relative;
    border-radius: 3px;
    color: black;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Bowlby One SC', cursive;
    text-align: center;

    @include mq('tablet-wide'){
      width: 400px;
      height: 500px;
    }

    @include mq('4K-2560'){
      width: 600px;
      height: 800px;
      padding: 20px;
    }
  }

  .login{
    width: 100%;
    height: 430px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #signUp-box{
    width: 300px;
    height: 500px;
    margin: 90px auto;
    padding: 10px;
    position: relative;
    border-radius: 3px;
    color: black;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Bowlby One SC', cursive;
    text-align: center;

    @include mq('tablet-wide'){
      width: 400px;
      height: 500px;
    }

    @include mq('4K-2560'){
      width: 600px;
      height: 800px;
      padding: 20px;
    }
  }

  .signUp{
    width: 100%;
    height: 430px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  input[type="text"],
  input[type="password"] {
    display: block;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;

    @include mq('4K-2560'){
      padding: 8px;
      width: 320px;
      height: 62px;
    }
  }
          
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;

    @include mq('4K-2560'){
      border-bottom: 6px solid #16a085;
    }
  }
      
  input[type="submit"] {
    margin-top: 20px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    cursor: pointer;

    @include mq('4K-2560'){
      width: 160px;
      height: 62px;
    }
  }
      
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    box-shadow: 0px 1px 4px rgb(0, 0, 0);
    transition: 0.2s;
  }

  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease-in-out;
  }


  button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
  }

  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
    width: 140px;
    font-weight: 700;
  }

  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }

  button.social-signin.facebook {
    background: #32508E;
  }

  button.social-signin.google {
    background: #DD4B39;
  }

  .or {
    margin-top: 280px;
    width: 150px;
    height: 60px;
    padding: 20px 0px;
    font-size: 40px;
    color: #adadad;
    background: rgb(247, 253, 247);
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-family: 'Concert One', cursive;
    white-space: nowrap;
    display: none;

    @include mq('tablet-wide'){
      display: block;
    }

    @include mq('4K-2560'){
      margin-top: 320px;
      width: 170px;
      height: 80px;
      padding: 30px 0px;
      font-size: 50px;
    }
  }

  .loginwith{
    white-space: nowrap;
    font-family: 'Concert One', cursive;
  }

  .social-box{
    margin-top: auto;
  }
    
}
// ==West list========================

#west-list{
 width: 100vw;
 padding: 80px 0px;
 border-top: solid 1vh black;
 border-bottom: solid 1vh black;
 background: rgb(25,214,228);
 background: linear-gradient(306deg, rgba(25,214,228,1) 0%, rgba(23,210,230,1) 35%, rgba(0,168,255,1) 100%);
 text-align: center;
 font-size: 30px;
 color: white;
}

#search-bar-box{
  width: 50vw;
  height: 100px;
  margin-top: 20px;
  padding: 20px;
  margin: auto;
  display: flex;

  input[type="text"]{
    display: block;
    padding: 4px 4px 4px 12px;
    width: 80%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: 0.2s ease;
  }

  input[type="submit"] {
    width: 20%;
    height: 50px;
    margin-top: 0px;
    background: #44bd32;
    border: none;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.4s ease;
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    cursor: pointer;

    &:hover{
      background: #3ea82e;
    }
  }

  input[type="text"]:focus{
    border-bottom: 5px solid #29ff7b;
    color: #16a084;
    transition: 0.2s ease;
  }
}


// --About.html----------------------------------------

#helloSecond{
  margin: 40px 0px 0px 0px;
  width: 280px;
  height: 300px;
  font-size: 13px;
  background-color: #fff;
  // font-family: 'Carter One', cursive;
  // font-family: 'Indie Flower', cursive;
  font-family: 'Kalam', cursive;
  // font-family: 'Patrick Hand', cursive;
  position: static;
  z-index: 100;
  float: left;

  @include mq('phone'){
    font-size: 16px;
    width: 350px;
    margin: 40px 0px 0px 0px;
  }

  @include mq('tablet'){
    font-size: 28px;
    width: 600px;
    margin: 100px 0px 0px 0px;
  }

  @include mq('tablet-wide') {
    margin: 40px 0px;
    font-size: 35px;
    width: 800px;
  }

  @include mq('4K-2560'){
    margin: 140px 0px;
    font-size: 60px;
    width: 1200px;
  }
}

// --userloged.html------------------------------------

#user{
  color: #4cd137;
}

#userPanel{
  width: 100%;
  height: 200px;
  padding: 20px;
  margin: auto 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  @include mq('4K-2560'){
    margin: 100px 0px;
  }
}

#avatar{
  float: left;
}

.user-name{
  float: left;
  margin-top: 40px;
  padding: 5px 5px 5px 0px;
  border: none;
  border-bottom: 2px solid #AAA;
  font-size: 30px;
  font-family: 'Squada One', cursive;
  // font-family: 'Patrick Hand', cursive;
  white-space: nowrap;

  p{
    float: left;
  }
}

#rank{
  float: right;
  transform: translate(-10px,-80px);
}

.score{
  margin: 85px -100px 0px 0px;
  // font-family: 'Concert One', cursive;
  font-family: 'Kalam', cursive;
  // font-family: 'Patrick Hand', cursive;
  // font-family: 'Neucha', cursive;
}

#section1{
  width: 100%;
  height: 400px;
  padding: 20px;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: -1;

  @include mq('tablet-wide'){
    height: 700px;
    padding: 10px 10px 60px 10px;
  }
}

.stat{
  height: 50%;
  padding: 10px;
  // font-family: 'Bowlby One SC', cursive;
  // font-family: 'Concert One', cursive;
  // font-family: 'Carter One', cursive;
  // font-family: 'Indie Flower', cursive;
  // font-family: 'Kalam', cursive;
  font-family: 'Patrick Hand', cursive;
  // font-family: 'Neucha', cursive;
}

.places-place{
  height: 80px;
  width: 290px;
  margin: 20px 20px 0px 0px;
  border: #80afdb solid 2px;
  float: left;
  background-color: #fff;
  border-radius: 180px;

  @include mq('desktop-wide'){
    width: 250px;
  }
}

.question-place{
  height: 80px;
  width: 290px;
  margin: 20px 20px 0px 0px;
  border: #80afdb solid 2px;
  float: left;
  background-color: #fff;
  border-radius: 180px;

  @include mq('desktop-wide'){
    width: 250px;
  }
}

#boxformapbox{
  width: 100wh;
  position: relative;
  left: 0;
}


#map-box{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /*"1fr" is one fraction*/
  grid-template-rows: 50px 500px 50px;/*height and amount of rows*/
  background-color: rgb(255, 255, 255);
  color: rgb(35, 35, 131);
  justify-items: center;
  align-items: center;
  font-family: 'Kalam', cursive;
  // font-family: 'Squada One', cursive;
  // font-family: 'Patrick Hand', cursive;
    
  h1{
    // font-family: 'Bowlby One SC', cursive;
    font-family: 'Carter One', cursive;
    // font-family: 'Kalam', cursive;
    // font-family: 'Squada One', cursive;
    // font-family: 'Patrick Hand', cursive;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  }

  #right{
    width: 50%;
    float: left;

    p{
      font-size: 20px;
      // font-family: 'Bowlby One SC', cursive;
      font-family: 'Carter One', cursive;
      // font-family: 'Squada One', cursive;
      // font-family: 'Patrick Hand', cursive;
    }
  }

  .left{
    padding: 25%;
  }

  .right-right{
    overflow: scroll;
    width: 380px;
    height: 600px;
    margin: 0px 10px 0px 50px;
    @include mq('4K-2560'){
      width: 600px;
    }

    .comment{
      width: 350px;
      height: 150px;
      padding: 10px;
      margin: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      display: flex;
      @include mq('4K-2560'){
        width: 590px;
      }

      p{
        margin: 0px 0px 0px 10px;
      }
    }
  }
}

#west-box{
  width: 100vw;
  height: 200vh;
  padding: 40px;
  // display: none;

  h1{
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
  }

  img{
    transform: translateY(-100px);
  }
  .trashesOpacity{
    transition: 0.4s ease;
  }
}

.dropdown-trash{
  width: 10%;
  height: 50px;
  margin-top: 0px;
  background: #3ea82e;
  border: none;
  color: #FFF;
  font-size: 40px;
  text-transform: uppercase;
  transition: 0.5s ease;
  box-shadow: 0px 0px 0px rgb(0, 0, 0);
  cursor: pointer;

  &:hover{
    background: #44bd32;
  }
}

#panels{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .rectangle{
    width: 50%;
    height: 250px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    //background-image: url(../img/product.png);
    //background-repeat: no-repeat;
    //background-position: center;
    //background-size: cover;

    .photo{
      height: 100%;
      width: 25%;
      padding: 5px;
      overflow: hidden;
      background-image: url(../img/1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-right: rgb(255, 255, 255) dashed 4px;

      img{
        height: 100%;
        width: 100%;
      }
    }

    .description{
      padding: 0px 0px 0px 26%;
      transform: translateY(-240px);
      display: block;
      position: relative;
      z-index: 1;
      text-align: left;
      text-shadow: black 0px 0px 2px;
    }

    .code{

    }
  }
}

// --Animations----------------------------------------

@keyframes logomove{
    from{
        scale: 0;
        transform: translate(0px,-160px);
    }
    25%{
        scale: 1;
        transform: translate(-5px,0px);
    }
    50%{
        scale: 0;
        transform: translate(0px,-90px);
    }
    75%{
        scale: 1;
        transform: translate(-5px,0px);
    }
    to{
        scale: 0;
        transform: translate(0px,140px);
    }
}

@keyframes logomove-tablet-wide{
  from{
    scale: 0;
    transform: translate(0px,-160px);
  }
  25%{
    scale: 1;
    transform: translate(-2px,50px);
  }
  50%{
    scale: 0;
    transform: translate(0px,10px);
  }
  75%{
    scale: 1;
    transform: translate(-2px,-50px);
  }
  to{
    scale: 0;
    transform: translate(0px,140px);
  }
}

@keyframes logomove-4K{
  from{
    scale: 0;
    transform: translate(0px,-400px);
  }
  25%{
    scale: 1;
    transform: translate(-2px,-10px);
  }
  50%{
    scale: 0;
    transform: translate(0px,-170px);
  }
  75%{
    scale: 1;
    transform: translate(-2px,-10px);
  }
  to{
    scale: 0;
    transform: translate(0px,180px);
  }
}

@keyframes greenglow {
  from{
    color: #487eb0;
  }
  50%{
    color: yellowgreen;
  }
  to{
    color: #487eb0;
  }
}

@keyframes text-puls{
  from{
    font-size: 40px;
  }
  50%{
    font-size: 41px;
  }
  to{
    font-size: 40px;
  }
}

@keyframes text-puls-tablet-wide{
  from{
    font-size: 20px;
  }
  50%{
    font-size: 21px;
  }
  to{
    font-size: 20px;
  }
}

@keyframes text-puls-4K{
  from{
    font-size: 60px;
  }
  50%{
    font-size: 61px;
  }
  to{
    font-size: 60px;
  }
}


